@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto',  sans-serif;
}



* {
  /* outline: 1px dashed rgb(255, 121, 121); */
}
